# -*- mode: kamailio; tab-width: 4; c-basic-offset: 4; -*-
#!KAMAILIO
#
# Kamailio SIP Server v5.2 - default configuration script
#     - web: https://www.kamailio.org
#     - git: https://github.com/kamailio/kamailio
#
# Direct your questions about this file to: <sr-users@lists.kamailio.org>
#
# Refer to the Core CookBook at https://www.kamailio.org/wikidocs/
# for an explanation of possible statements, functions and parameters.
#

# Module for $env to work
loadmodule "pv.so"

####### Defined Values #########

#!define MULTIDOMAIN 0

#!substdef "!DBNAME!$env(DBNAME)!"
#!substdef "!DBUSER!$env(DBUSER)!"
#!substdef "!DBPASS!$env(DBPASS)!"
#!substdef "!DBHOST!$env(DBHOST)!"
#!define DBURL "mysql://DBUSER:DBPASS@DBHOST/DBNAME"

# - flags
#   FLT_ - per transaction (message) flags
#	FLB_ - per branch flags
#!define FLT_ACC 1
#!define FLT_ACCMISSED 2
#!define FLT_ACCFAILED 3
#!define FLT_DLG 4
#!define FLT_NATS 5

#!define FLB_NATB 6
#!define FLB_NATSIPPING 7

#!define FLT_FROM_INTERNAL 20
#!define FLT_FROM_PUBLIC 21

#!substdef "!PUBLIC_SUBNET!$env(PUBLIC_SUBNET)!"
#!substdef "!INTERNAL_SUBNET!$env(INTERNAL_SUBNET)!"

#!substdef "!PUBLIC_IP!$env(PUBLIC_IP)!"
#!substdef "!INTERNAL_IP!$env(INTERNAL_IP)!"
#!substdef "!UDP_PORT!$env(UDP_PORT)!"
#!substdef "!TLS_PORT!$env(TLS_PORT)!"

#!substdef "!PUBLIC_UDP_SOCKET!udp:PUBLIC_IP:UDP_PORT!"
#!substdef "!INTERNAL_UDP_SOCKET!udp:INTERNAL_IP:UDP_PORT!"
#!substdef "!PUBLIC_TLS_SOCKET!TLS:PUBLIC_IP:TLS_PORT!"

####### Global Parameters #########

### LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR
debug=2
log_stderror=no

memdbg=5
memlog=5

log_facility=LOG_LOCAL0
log_prefix="{$mt $hdr(CSeq) $ci} "

/* number of SIP routing processes */
children=2

/* uncomment the next line to disable TCP (default on) */
# disable_tcp=yes

/* uncomment the next line to disable the auto discovery of local aliases
 * based on reverse DNS on IPs (default on) */
# auto_aliases=no

/* add local domain aliases */
# alias="sip.mydomain.com"

enable_tls=1

/* listen addresses */
listen=PUBLIC_UDP_SOCKET
listen=INTERNAL_UDP_SOCKET
listen=PUBLIC_TLS_SOCKET

####### Custom Parameters #########

/* These parameters can be modified runtime via RPC interface
 * - see the documentation of 'cfg_rpc' module.
 *
 * Format: group.id = value 'desc' description
 * Access: $sel(cfg_get.group.id) or @cfg_get.group.id */

####### Modules Section ########

# Reminder that pv.so is loaded in globals section (above)

/* set paths to location of modules */
loadmodule "tls.so"
loadmodule "jsonrpcs.so"
loadmodule "kex.so"
loadmodule "corex.so"
loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "sanity.so"
loadmodule "ctl.so"
loadmodule "cfg_rpc.so"
loadmodule "acc.so"
loadmodule "counters.so"
loadmodule "ipops.so"
loadmodule "db_mysql.so"
loadmodule "rtpengine.so"
loadmodule "sdpops.so"
loadmodule "dialog.so"
# topology hiding
loadmodule "topos.so"
loadmodule "topoh.so"

# ----------------- setting module-specific parameters ---------------

# ----- tls params -----
modparam("tls", "config", "/etc/kamailio/tls/tls.cfg")

# ----- jsonrpcs params -----
modparam("jsonrpcs", "pretty_format", 1)
/* set the path to RPC fifo control file */
# modparam("jsonrpcs", "fifo_name", "/run/kamailio/kamailio_rpc.fifo")
/* set the path to RPC unix socket control file */
# modparam("jsonrpcs", "dgram_socket", "/run/kamailio/kamailio_rpc.sock")

# ----- ctl params -----
/* set the path to RPC unix socket control file */
# modparam("ctl", "binrpc", "unix:/run/kamailio/kamailio_ctl")

# ----- tm params -----
# auto-discard branches from previous serial forking leg
modparam("tm", "failure_reply_mode", 3)
# default retransmission timeout: 30sec
modparam("tm", "fr_timer", 30000)
# default invite retransmission timeout after 1xx: 120sec
modparam("tm", "fr_inv_timer", 120000)

# ----- rr params -----
# set next param to 1 to add value to ;lr param (helps with some UAs)
modparam("rr", "enable_full_lr", 0)
# do not append from tag to the RR (no need for this script)
modparam("rr", "append_fromtag", 0)

modparam("dialog", "default_timeout", 43200 ) #halfday
modparam("dialog", "db_mode", 0 ) # no database writes. Enable to share Dialogs between Kamailio instances (fyi, there are other ways)
modparam("dialog", "dlg_flag", FLT_DLG )
modparam("dialog", "hash_size",  4096 )

# ----- Modules dependend on DB below - disable them when reinit DB needed -----
# ----- db_mysql params -----
modparam("db_mysql", "auto_reconnect", 1)

# ----- acc params -----
modparam("acc", "db_url", DBURL)
modparam("acc", "db_table_acc", "acc")
modparam("acc", "db_flag", FLT_ACC)

# /* what special events should be accounted ? */
# modparam("acc", "early_media", 0)
# modparam("acc", "report_ack", 0)
# modparam("acc", "report_cancels", 0)
# /* by default ww do not adjust the direct of the sequential requests.
#  * if you enable this parameter, be sure the enable "append_fromtag"
#  * in "rr" module */
# modparam("acc", "detect_direction", 0)
# /* account triggers (flags) */
# modparam("acc", "log_flag", FLT_ACC)
# modparam("acc", "log_missed_flag", FLT_ACCMISSED)
# modparam("acc", "log_extra",
# 	"src_user=$fU;src_domain=$fd;src_ip=$si;"
# 	"dst_ouser=$tU;dst_user=$rU;dst_domain=$rd")
# modparam("acc", "failed_transaction_flag", FLT_ACCFAILED
modparam("acc", "cdr_enable", 1) 
modparam("acc", "cdr_on_failed", 1)
modparam("acc", "cdrs_table", "acc_cdrs")
modparam("acc", "cdr_start_on_confirmed", 1)
modparam("acc", "cdr_start_id", "start_time")
modparam("acc", "cdr_end_id", "end_time")
modparam("acc", "cdr_duration_id", "duration")
modparam("acc", "cdr_extra", 
    "src_user=$dlg_var(caller);
    src_ip=$dlg_var(caller_ip);
    src_domain=$dlg_var(caller_domain);
    dst_user=$dlg_var(callee);
    call_id=$dlg_var(call_id)")
modparam("acc", "early_media", 0)
modparam("acc", "report_ack", 0)
modparam("acc", "report_cancels", 0)
modparam("acc", "detect_direction", 0)
modparam("acc", "log_flag", FLT_ACC)
modparam("acc", "log_missed_flag", FLT_ACCMISSED)
modparam("acc", "failed_transaction_flag", FLT_ACCFAILED)

# ----- rtpengine params -----
modparam("rtpengine", "db_url", DBURL)
modparam("rtpengine", "table_name", "rtpengine")
modparam("rtpengine", "read_sdp_pv", "$avp(originalSDP)");
modparam("rtpengine", "write_sdp_pv", "$avp(modifiedSDP)");

# ----- topology hiding params -----
modparam("topoh", "mask_key", "SuperSecretKey") # TODO move secret to env
modparam("topoh", "mask_ip", "PUBLIC_IP") # use the public Ip for masking 
#modparam("topoh", "mask_callid", 1)

modparam("topos", "storage", "db") # Set where to store. Options are db or redis
modparam("topos", "db_url", DBURL) # Use the DBURL that was earlier defined
modparam("topos", "sanity_checks", 1) # Perform Sanity check before encoding / decoding 
modparam("topos", "mask_callid", 1) # encode the call-id header. 
modparam("topos", "contact_host", "PUBLIC_IP") # Set the contact host. If using TLS the host needs to match the name on the cert


####### Routing Logic ########


/* Main SIP request routing logic
 * - processing of any incoming SIP request starts with this route
 * - note: this is the same as route { ... } */
request_route {

	# per request initial checks
	route(REQINIT);
	route(SET_DIRECTION_FLAG);
	route(SET_SOCKET);

	# CANCEL processing
	if (is_method("CANCEL")) {
		if (t_check_trans()) {
			route(RELAY);
		}
		exit;
	}

	# handle retransmissions
	if (!is_method("ACK")) {
		if(t_precheck_trans()) {
			t_check_trans();
			exit;
		}
		t_check_trans();
	}

	route(SET_RDP_REQUEST);

	# handle requests within SIP dialogs
	route(WITHINDLG);

	### only initial requests (no To tag)

	# record routing for dialog forming requests (in case they are routed)
	# - remove preloaded route headers
	remove_hf("Route");
	if (is_method("INVITE|SUBSCRIBE")) {
		record_route();
	}

	# account only INVITEs
	if (is_method("INVITE")) {
		setflag(FLT_DLG);
		setflag(FLT_ACC); # do accounting
		route(SET_CDR_VARS);
	}

	if ($rU==$null) {
		# request with no Username in RURI
		sl_send_reply("484", "Address Incomplete");
		exit;
	}

	# update $du to set the destination address for proxying
	# $du = "sip:" + $rd + ":9";
	route(RELAY);
	exit;
}

# Wrapper for relaying requests
route[RELAY] {

	# enable additional event routes for forwarded requests
	# - serial forking, RTP relaying handling, a.s.o.
	if (is_method("INVITE|BYE|SUBSCRIBE|UPDATE")) {
		if(!t_is_set("branch_route")) t_on_branch("MANAGE_BRANCH");
	}
	if (is_method("INVITE|SUBSCRIBE|UPDATE")) {
		if(!t_is_set("onreply_route")) t_on_reply("MANAGE_REPLY");
	}
	if (is_method("INVITE")) {
		if(!t_is_set("failure_route")) t_on_failure("MANAGE_FAILURE");
	}

	if (!t_relay()) {
		sl_reply_error();
	}
	exit;
}

# Per SIP request initial checks
route[REQINIT] {
	if($ua =~ "friendly-scanner|sipcli|VaxSIPUserAgent") {
		# silent drop for scanners - uncomment next line if want to reply
		# sl_send_reply("200", "OK");
		exit;
	}

	if (!mf_process_maxfwd_header("10")) {
		sl_send_reply("483", "Too Many Hops");
		exit;
	}

	if(is_method("OPTIONS") && uri==myself && $rU==$null) {
		sl_send_reply("200", "Keepalive");
		exit;
	}

	if(!sanity_check("1511", "7")) {
		xlog("Malformed SIP message from $si:$sp\n");
		exit;
	}
}

# Handle requests within SIP dialogs
route[WITHINDLG] {
	if (!has_totag()) return;

	# sequential request within a dialog should
	# take the path determined by record-routing
	if (loose_route()) {
		if (is_method("BYE")) {
			setflag(FLT_ACC); # do accounting ...
			setflag(FLT_DLG);
			setflag(FLT_ACCFAILED); # ... even if the transaction fails
		} else if ( is_method("NOTIFY") ) {
			# Add Record-Route for in-dialog NOTIFY as per RFC 6665.
			record_route();
		}
		route(RELAY);
		exit;
	}

	if ( is_method("ACK") ) {
		if ( t_check_trans() ) {
			# no loose-route, but stateful ACK;
			# must be an ACK after a 487
			# or e.g. 404 from upstream server
			route(RELAY);
			exit;
		} else {
			# ACK without matching transaction ... ignore and discard
			exit;
		}
	}
	sl_send_reply("404", "Not here");
	exit;
}

route[SET_DIRECTION_FLAG] {
	if(isflagset(FLT_FROM_INTERNAL)) {
		resetflag(FLT_FROM_INTERNAL);
	} else {
		resetflag(FLT_FROM_PUBLIC);
	}

	if (is_in_subnet($si, "PUBLIC_SUBNET")) {
  		xlog("L_INFO", "SET_DIRECTION_FLAG: from the PUBLIC subnet\n");
		setflag(FLT_FROM_PUBLIC);
		return 0;
	}
	xlog("L_INFO", "SET_DIRECTION_FLAG: from the INTERNAL subnet\n");
	setflag(FLT_FROM_INTERNAL);
	return 0;
}

route[SET_SOCKET] {
	if (isflagset(FLT_FROM_PUBLIC)) {
		xlog("L_INFO", "SET_SOCKET: Setting call from PUBLIC to go through INTERNAL UDP socket\n");
  		force_send_socket(INTERNAL_UDP_SOCKET);
		return 0;
	}
	if (isflagset(FLT_FROM_INTERNAL)) {
		xlog("L_INFO", "SET_SOCKET: Setting call from INTERNAL to go through PUBLIC UDP socket\n");
  		force_send_socket(PUBLIC_UDP_SOCKET);
		return 0;
	}
}

route[SET_RDP_REQUEST] {
	if (!is_method("INVITE|UPDATE")){
		return 0;
	}

	if (sdp_content()){
		$avp(originalSDP)=$rb;
		if(isflagset(FLT_FROM_PUBLIC)){
			xlog("L_INFO", "SET_RDP_REQUEST: FROM PUBLIC\n");
			rtpengine_manage("replace-origin replace-session-connection direction=public direction=internal");
		}
		if(isflagset(FLT_FROM_INTERNAL)){
			xlog("L_INFO", "SET_RDP_REQUEST: FROM INTERNAL\n");
			rtpengine_manage("replace-origin replace-session-connection direction=internal direction=public");
		}
		set_body("$avp(modifiedSDP)","application/sdp");
	}
}

route[SET_RDP_REPLY] {
	if (sdp_content()){
		$avp(originalSDP)=$rb;
		if(isflagset(FLT_FROM_PUBLIC)){
			xlog("L_INFO", "SET_RDP_REPLY: FROM PUBLIC\n");
			rtpengine_manage("replace-origin replace-session-connection direction=public direction=internal");
		}
		if(isflagset(FLT_FROM_INTERNAL)){
			xlog("L_INFO", "SET_RDP_REPLY: FROM INTERNAL\n");
			rtpengine_manage("replace-origin replace-session-connection direction=internal direction=public");
		}
		set_body("$avp(modifiedSDP)","application/sdp");
	}

	if ($rs=~"[3-6][0-9][0-9]"){
		rtpengine_manage();
	}
}

route[SET_CDR_VARS]{
    $dlg_var(caller) = $fU;
    $dlg_var(caller_ip) = $si ;
    $dlg_var(caller_domain) = $fd;
    $dlg_var(callee) = $tU;
    $dlg_var(call_id) = $ci;
}

# Manage outgoing branches
branch_route[MANAGE_BRANCH] {
	xdbg("new branch [$T_branch_idx] to $ru\n");
}

# Manage incoming replies
onreply_route[MANAGE_REPLY] {
	xdbg("incoming reply\n");
	route(SET_DIRECTION_FLAG);
	route(SET_RDP_REPLY);
}

# Manage failure routing cases
failure_route[MANAGE_FAILURE] {
	if (t_is_canceled()) exit;
}

# Topology hiding
event_route[topos:msg-outgoing] {
	xlog("L_INFO", "topos:msg-outgoing | \n");
  if !(is_in_subnet($si, "INTERNAL_SUBNET")) {
    xlog("L_INFO", "topos:msg-outgoing | request from PUBLIC->CORE. Don't strip via Topos! \n");
    drop;
  }
}
